/* Header Section */

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.banner-section{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../1.jpg);
    background-size: cover; 
    background-position: center;
}

ul{
    list-style-type: none;
    float: right;
}

ul li{
    display: inline-block;
    margin-top: 30px;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: rgb(241, 245, 244);
    color: #000;
}

ul li.active a{
    background-color: #fff;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
    padding-top: 10px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

}

.title h1{
    font-size: 40px;
}

.button{
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
}


.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    color: #000;
}

.btn:hover{
    background-color:rgb(31, 133, 124);
    color:#fff;
}

.profile img{
    margin-left: 800px;
    margin-top: 60px;
}

/* About Me Section */

.aboutme-section{
    padding: 100px 0;
}
.aboutme-section:after{
    content: "";
    clear: both;
    display: table;
}

.aboutme-section .content{ 
    width: 60%;
    float: left;
}

.aboutme-section .img{ 
    width: 40%;
    float: left;
    text-align: center;
}

.aboutme-section .img img{
    max-width: 100%;
} 

.aboutme-section h2{
    margin: 20px 0;
}




/* Services Section */
.services{
    background-color: #f2f4f8;
}

.services h1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    font-family: Century Gothic;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;;
}

.container .row{
    display: flex;
    flex-wrap: wrap;
}

.container .row .column{
    width: 33.333%;
    text-align: center;
}

.container .row .column .pd{
    padding: 0 15px;
    cursor: pointer;
}

.container .row .column .pd .shadow{
    margin: 10px 10px;
    text-align: left;
    padding: 50px;
    box-shadow: 0px 14px 26px rgba(0,0,0,0.05);
}

.container .row .column .pd .shadow .text{
    margin-top: 10px;
    font-size: 12px;
    font-family: lato;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
}

/* Skill Section */
.skill{
    background-color:rgb(57, 190, 135) ;
}

.skill .row {
    width: 1000px;
    margin: 60px auto;
    color: white;
    padding-bottom: 40px;
}

.skill .row h1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-family: century Gothic;
}

.skill .row .column{
    margin: 20px 0px;
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column li{
    margin: 20px 0;
}

.column li  h3{
    font-size: 14px;
    margin-bottom: 10px;
}

.skill .row .bar{
    background: #f4f5f8;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    padding: 3px;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    padding: 2px;
    background:rgb(12, 105, 54);
}

.photoshop{
    width: 92%;
    animation: photoshop 2s;
}

.illustrator{
    width: 85%;
    animation: illustrator 2s;
}

.after-effect{
    width: 97%;
    animation: after-effect 2s;
}

.html{
    width: 90%;
    animation: html 2s;
}

.css{
    width: 85%;
    animation: css 2s;
}

.javascript{
    width: 72%;
    animation: javascript 2s;
}

@keyframes photoshop{
    0%{
        width: 0%;
    }
    100%{
        width: 92%;
    }
}

@keyframes illustrator{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes after-effect{
    0%{
        width: 0%;
    }
    100%{
        width: 97%;
    }
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

/* Project Section */
.project h1 {
    text-align: left;
}

.project .container{
    max-width: 1000px;
}

.project ul{
    list-style-type: none;
    float: left;
    width: 100%;
}

ul li{
    /* display: inline-block; */
    margin-top: 30px;
}

ul li a{
    text-decoration: none;
    /* color: rgb(14, 88, 57); */
    padding: 5px 10px;
    /* border: 1px solid transparent; */
    /* transition: 0.6s ease; */
}

ul li a:hover{
    color: rgb(36, 43, 41);
}

ul li.active a{
    background-color: rgb(34, 117, 97);
}

.project .img{
    float:left; 
    margin-top: 30px;;
}
 
/* Testimonial Section */
.feedback{
    padding: 40px 0;
    background-color: #f1f1f1;
    text-align: center;
}

.container{
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 25px 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.feedback .container .row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feedback .container .row .col{
    /* flex: 50%; */
    max-width: 33.333%;
    box-sizing: border-box;
    padding: 10px 15px;
}

.feedback .container.testimonial{
    background: #fff;
    padding:20px 20px;
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Contact Us Section */
.contact{
    margin: 0;
    padding: 0;
}
.contact .img{
    margin: 60px 80px;
    float:left;
}

.contact h4{
    margin: 20px 0px;
}

.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    float: left;
    margin-top: 20px;
    
}

.contact-box form{
    margin: 30px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field{
    height: 150px;
    width: 400px;
    margin-top: 20px;
}

.btn{
    background-color: rgb(19, 95, 79);
    margin-top: 18px;
    margin-bottom: 20px;
    padding: 10px;
    color:#fff;
    border: none;
    cursor: pointer;

}

/* Latest News Section */
.latest-news{
    margin-top: 10px;
    float:left;
}

.latest-news .container h2{
    text-align: center;
    font-size: 30px;
}

.latest-news .container{
    max-width: 900px;
    margin-left: 100px ;
    margin-right: 100px;
}

.latest-news .container .news-row{
    float: left;
}

.latest-news .container .news-row .news-col{
    float: left;
    width: 30%;
    text-align: left;
    padding: 10px;

}

.latest-news .news-row .news-col h3{
    padding: 10px 10px;
}

.latest-news .news-row .news-col .deat span{
    font-size: 12px;
}

.latest-news .news-row .news-col p{
    padding: 10px 10px;
    font-size: 12px;
}

.latest-news .news-row .news-col a{
    padding: 10px 10px;
}

.latest-news-wrap{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.news-img{
    position: relative;
}

.news-img:before{
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(153, 146, 146);
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before{
    opacity: .5;
    transform: scale(1);
}

.deat{
    padding: 10px;
}


/* Footer Section */
.footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(173, 169, 169);
    float:left;
}

.footer > *{
    flex: 1 100%;
}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em
}

.footer-left img{
    width: 50%;
}

h2{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap; 
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color:lightgrey;
}

.footer-bottom{
    text-align: center;
    color:lightgrey;
    padding-top: 50px;
}

.footer-left p{
    padding-right: 20%;
    color: lightgray;
}

.socials a{
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media (max-width:600px){
    .footer{
        padding: 15px;
    }

}